<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnyP8UDBMV90Vasf5CC-MO8LJxkA7s4XI</string>
	<key>GCM_SENDER_ID</key>
	<string>671985858494</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.quanlygasapp.quanLyGasApp</string>
	<key>PROJECT_ID</key>
	<string>quanlygas-ae3f6</string>
	<key>STORAGE_BUCKET</key>
	<string>quanlygas-ae3f6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671985858494:ios:676e41edafcffcd4f2ebef</string>
</dict>
</plist>